table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    min-width: 100px;
}

.dynamic-table>tr>td {
    padding: 5px;
}

.dynamic-table>tr>td>.container {
    display: flex;
}

.dynamic-table>tr>td>.container>.content {
    flex-grow: 1;
}

.dynamic-table>tr>td>.container>.content-display {
    margin: 0;
}

.dynamic-table>tr>td>.container>button {
    align-self: center;
}