<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef>{{column}}</th>
        <td mat-cell *matCellDef="let element">{{element[column]}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<button (click)="addRow()">Add row</button>
<button (click)="addColumn()">Add column</button>

<p>max row: {{maxRowCount}}</p>
<p>max column: {{maxColumnCount}}</p>
<table>
    <colgroup>
        <col width="100" *ngFor="let header of columnCountArray">
    </colgroup>
    <tr *ngFor="let row of datas">
        <td *ngFor="let cell of row | onlyDisplayableCells" [attr.colspan]="cell.colspan" [attr.rowspan]="cell.rowspan">
            {{cell.value}}
            <button (click)="right(cell, row)">right</button>
            <button (click)="down(cell, row)">down</button>
        </td>
    </tr>
</table>
<p>ColumnCountArray: {{columnCountArray|json}}</p>
<p>ColumnCount: {{maxColumnCount}}</p>
<p>datas: {{datas| json}}</p>